/**
 *  TABLE OF CONTENTS
 *  1.0 - Settings
 *    1.1 - Normalize.css
 *    1.2 - Custom properties
 *  2.0 - General styles
 *  3.0 - Components
 *    3.1 - Buttons
 *  4.0 - Layout
 *    4.1 - Header
 *    4.2 - Main
 *    4.3 - Footer
 */

/*==================================*\
  1.0 - Settings
\*==================================*/

/* === 1.1 - Normalize.css ===*/
@import "normalize.css";

/* === 1.2 - Custom properties ===*/
:root {
  --button-default-bg: #f2f2f2;
  --button-default-bg-hover: #f8f8f8;
  --button-default-text: #5f6368;
  --button-default-text-hover: #222;
  --button-default-border-color: #f2f2f2;
  --button-default-border-color-hover: #c6c6c6;

  --button-primary-bg: #4285f4;
  --button-primary-bg-active: #1a52ac;
  --button-primary-border-color: #4285f4;

  --primary-nav-text: #000;

  --search-bar-border-color: ##dfe1e5;

  --footer-bg: #f2f2f2;
  --footer-text: #717171;
  --footer-border-color: #e4e4e4;

  --secondary-nav-text: #5f6368;

  --body-bg: #fff;

  --big-font-size: 1.4rem;
  --medium-font-size: 1.3rem;
}

/*==================================*\
  2.0 - General styles
\*==================================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  height: 100vh;
  margin: 0 2.5em;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--body-bg);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

/*==================================*\
  3.0 - Components
\*==================================*/
/* === 3.1 - Buttons ===*/
.button {
  display: inline-block;
  border: 1px solid transparent;
}

.button:hover,
.button:focus,
.button:active {
  text-decoration: none;
}

.button--default {
  padding: 1.3em 1em;
  background: var(--button-default-bg);
  border-color: var(--button-default-border-color);
  border-radius: 3px;
  color: var(--button-default-text);
}

.button--default:hover {
  background: var(--button-default-bg-hover);
  border-color: var(--button-default-border-color-hover);
  color: var(--button-default-text-hover);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button--default:focus,
.button--default:active {
  border-color: var(--button-primary-border-color);
}

.button--primary {
  padding: 0.7em 0.5em;
  background: var(--button-primary-bg);
  border-color: var(--button-primary-bg);
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
}

.button--primary:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.button--primary:active {
  border-color: var(--button-primary-bg-active);
  background: var(--button-primary-bg-active);
  box-shadow: 0 2px rgba(0, 0, 0, 0.5) inset;
}

/*==================================*\
  4.0 - Layout
\*==================================*/
/* === 4.1 - Header ===*/
header {
  height: 10vh;
  font-size: var(--medium-font-size);
}

.primary-nav {
  height: 100%;
}

.primary-nav__list {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.primary-nav__item + .primary-nav__item {
  margin-left: 1em;
}

.primary-nav__link {
  color: var(--primary-nav-text);
}

.primary-nav__link:hover {
  opacity: 0.7;
}

.primary-nav__item:nth-of-type(3) .primary-nav__link {
  opacity: 0.5;
}

.primary-nav__item:nth-of-type(3) .primary-nav__link:hover {
  opacity: 1;
}

.primary-nav__icon {
  height: 1.5em;
  width: 1.5em;
}
